# Inspired by https://github.com/sdelquin/aprendepython & https://github.com/squidfunk/mkdocs-material
site_name: Sara's Page
site_url: https://mydomain.org/
site_description: "Una página de aprendizaje sobre diseño y desarrollo web."
site_author: Sara ?
copyright: "© 2025 Sara ?"

theme:
  name: material
  logo: assets/img/logo.svg
  homepage: https://mydomain.org/
  favicon: assets/img/favicon.png
  icon:
    annotation: material/star-four-points-circle
    repo: fontawesome/brands/github
  language: es

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: amber
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.prefetch
    - navigation.instant.preview
    - content.code.copy
    - content.code.annotate
    - content.tooltips
    - header.autohide
    - toc.follow
    - navigation.indexes
    - content.tabs.link
    - navigation.top
    

nav:
  - Home: index.md
  - Showcase: showcase.md
  - Diseño de Interfaces Web:
      - design/index.md
      - Presentacion: design/presentation.md
      - Multimedia: 
        - design/multimedia/index.md
        - Audio: design/multimedia/audio.md
        - Video: design/multimedia/video.md
        - Imagenes: design/multimedia/images.md

markdown_extensions:
  - abbr
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.blocks.caption
  - pymdownx.highlight:
      anchor_linenums: true
      pygments_lang_class: true
      auto_title: true
  - pymdownx.superfences:
      custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.inlinehilite
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - assets/stylesheets/extra.css
extra_javascript:
  - assets/javascripts/extra.js

plugins:
  - glightbox:
       touchNavigation: true
       loop: false
       effect: zoom
       slide_effect: slide
       width: 100%
       height: auto
       zoomable: true
       draggable: true
       skip_classes:
         - custom-skip-class-name
       auto_themed: false
       auto_caption: false
       caption_position: bottom
       background: white
       shadow: true
       manual: false
  - minify:
      minify_html: true
