# Inspired by https://github.com/sdelquin/aprendepython & https://github.com/squidfunk/mkdocs-material
site_name: Sarispian - Diseño y Desarrollo Web
site_url: https://sarispian.ddns.net/
site_description: "Una página de aprendizaje sobre diseño y desarrollo web."
site_author: Sara Pérez
copyright: "© 2025 Sara Pérez"

theme:
  name: material
  logo: assets/img/logo.svg
  homepage: https://sarispian.ddns.net/
  favicon: assets/img/favicon.ico
  icon:
    annotation: material/star-four-points-circle
    repo: fontawesome/brands/github
  language: es

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: amber
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.prefetch
    - navigation.instant.preview
    - content.code.copy
    - content.code.annotate
    - content.tooltips
    - header.autohide
    - toc.follow
    - navigation.indexes
    - content.tabs.link
    - navigation.top
    

nav:
  - Showcase: showcase.md
  - Home: index.md
  
  - Diseño de Interfaces Web:
      - design/index.md
      - Presentacion: design/presentation.md
      - Planificación de Interfaces Web: design/web-ui-planification/index.md
      - Multimedia: 
        - design/multimedia/index.md
        - Metadatos: design/multimedia/metadata.md
        - Audio: design/multimedia/audio.md
        - Video: design/multimedia/video.md
        - Imagenes: 
          - design/multimedia/images/index.md
          - Formatos de Imagenes: design/multimedia/images/formats.md
          - Uso en HTML, JS y CSS: design/multimedia/images/htmljscss.md
          - Imágenes Vectoriales: design/multimedia/images/vector.md
        - Animaciones: design/multimedia/animations.md

      - Accesibilidad: design/accessibility/index.md
      - Usabilidad: design/usability/index.md

markdown_extensions:
  - abbr
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.blocks.caption
  - pymdownx.highlight:
      anchor_linenums: true
      pygments_lang_class: true
      auto_title: true
  - pymdownx.superfences:
      custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.inlinehilite
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - assets/stylesheets/extra.css
extra_javascript:
  - assets/javascripts/extra.js


plugins:
  - glightbox
  - minify:
      minify_html: true
