name: CI SonarQube Analysis DEV

on:
  push:
    branches:
      - main


jobs:
  build:
    needs: checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
      - uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
     
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/sarispian-web:latest
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to homepc
      uses: appleboy/ssh-action@v0.1.7
      with:
        username: ${{ vars.HOSTING_USERNAME }}
        host: ${{ vars.HOSTING_PC }}
        password: ${{ secrets.HOSTING_PASSWORD }}
        script: |
            docker compose down;
            docker compose pull
            docker image prune -f
            docker compose up -d